<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <customErrors mode="Off" defaultRedirect="/CustomError/505.html">
      <error statusCode="404" redirect="/CustomError/404.html"/>
    </customErrors>
    <authorization>
      <allow users="*"/>
    </authorization>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <sessionState mode="InProc" timeout="60" cookieless="false" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" />
    <globalization uiCulture="en" culture="en-us" />
    <httpRuntime executionTimeout="3600" />
    <xhtmlConformance mode="Legacy" />
    <pages theme="Default" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <appSettings>
    <add key="PathAlamatWeb" value="http://localhost:8034/" />
    <add key="PathFilePDFReport" value="D:\ISC\ISC064\app\LaporanPDF\" />
    <add key="PathWkhtmlPDFReport" value="D:\ISC\ISC064\app\pdf\generatorpdf\wkhtmltopdf.exe" />
    <add key="PathFilePDFKPA" value="D:\ISC\ISC064\app\kpa\PDF\" />
    <add key="PathLinkFilePDFKPA" value="/kpa/PDF/" />
    <add key="cnnString" value="server=.; uid=batavianet;pwd=iNDigo100;  database=ISC064_MARKETINGJUAL" />
    <add key="cnnString2" value="server=.; uid=batavianet;pwd=iNDigo100;  database=ISC064_MARKETINGJUAL" />
    <add key="lantai" value="29,28,27,26,25,24,23,21,20,19,18,17,16,15,12,11,10,09,08,07,06,05,03,02" />
    <add key="nounit" value="A1,A2,A3,A5,A6,A7,A8,B1,B2,B3,B5,B6,B7,B8,B9,C1,C2,C3,C5,C6,C7,C8,C9,C10,D1,D2,D3,D5,D6,D7,D8,D9" />
    <add key="os" value="2003" />
    <add key="DbPrefix" value="ISC064_" />
  </appSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/d:DEBUG;TRACE">
        <providerOption name="CompilerVersion" value="v4.0"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="default.aspx"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="index.html"/>
        <add value="iisstart.htm"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.3.0" newVersion="2.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>