<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <customErrors mode="Off" defaultRedirect="/CustomError/505.html">
      <error statusCode="404" redirect="/CustomError/404.html"/>
    </customErrors>
    <authorization>
      <allow users="*"/>
    </authorization>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <sessionState mode="InProc" timeout="600" cookieless="false" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" />
    <globalization uiCulture="en" culture="en-us" />
    <httpRuntime executionTimeout="3600" />
    <xhtmlConformance mode="Legacy" />
    <pages theme="Default" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <appSettings>
    <add key="PathAlamatWeb" value="http://localhost:8034/" />
    <add key="PathFilePDFReport" value="D:\ISC\ISC064\app\LaporanPDF\" />
    <add key="PathWkhtmlPDFReport" value="D:\ISC\ISC064\app\pdf\generatorpdf\wkhtmltopdf.exe" />
    <add key="PathFilePDFFinanceAR" value="D:\ISC\ISC064\app\financear\PDF\" />
    <add key="PathLinkFilePDFFinanceAR" value="/financear/PDF/" />
    <add key="PathWkhtml" value="D:\ISC\ISC064\bin\wkhtmltopdf.exe" />
    <add key="cnnString" value="server=.; uid=batavianet;pwd=iNDigo100; database=ISC064_FINANCEAR" />
    <add key="os" value="2003" />
    <add key="DbPrefix" value="ISC064_" />
    <add key="NoFPSKonsumen" value="BBW-FS-01-" />
    <add key="NoFPSPemerintah" value="BBW-FS-08-" />
    <add key="lantai" value="18A,19,20,21,22,23,25,26,27,28,29,30,31,32,33,34,35,36,37,38" />
  </appSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/d:DEBUG;TRACE">
        <providerOption name="CompilerVersion" value="v4.0"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="default.aspx"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="index.html"/>
        <add value="iisstart.htm"/>
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <fileExtensions allowUnlisted="true">
          <add fileExtension=".aspx" allowed="true"/>
          <add fileExtension=".html" allowed="true"/>
          <add fileExtension=".pdf" allowed="true"/>
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.3.0" newVersion="2.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>