/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2017 (14.0.2002)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [master]
GO
/****** Object:  Database [ISC056_SECURITY]    Script Date: 05/04/2019 15.52.31 ******/
CREATE DATABASE [ISC056_SECURITY]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ISC056_SECURITY', FILENAME = N'E:\ISC056\db\ISC056_SECURITY.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ISC056_SECURITY_log', FILENAME = N'E:\ISC056\db\ISC056_SECURITY_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ISC056_SECURITY].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ISC056_SECURITY]
GO
USE [ISC056_SECURITY]
GO
/****** Object:  User [batavianet]    Script Date: 05/04/2019 15.52.31 ******/
CREATE USER [batavianet] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[batavianet]
GO
ALTER ROLE [db_datareader] ADD MEMBER [batavianet]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [batavianet]
GO
/****** Object:  Schema [batavianet]    Script Date: 05/04/2019 15.52.31 ******/
CREATE SCHEMA [batavianet]
GO
/****** Object:  Table [dbo].[HTMLEDITOR]    Script Date: 05/04/2019 15.52.31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HTMLEDITOR](
	[Halaman] [varchar](50) NOT NULL,
	[Modul] [varchar](20) NOT NULL,
	[Html] [varchar](max) NOT NULL,
	[Project] [varchar](20) NOT NULL,
	[Nama] [varchar](50) NOT NULL,
 CONSTRAINT [PK_HTMLEDITOR] PRIMARY KEY CLUSTERED 
(
	[Halaman] ASC,
	[Project] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HTMLEDITOR_LOG]    Script Date: 05/04/2019 15.52.32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HTMLEDITOR_LOG](
	[LogID] [bigint] IDENTITY(1,1) NOT NULL,
	[Tgl] [datetime] NOT NULL,
	[Aktivitas] [varchar](6) NULL,
	[UserID] [varchar](20) NOT NULL,
	[IP] [varchar](50) NOT NULL,
	[Ket] [text] NOT NULL,
	[Pk] [varchar](50) NOT NULL,
	[Approve] [varchar](50) NOT NULL,
	[Project] [varchar](20) NOT NULL,
 CONSTRAINT [PK_HTMLEDITOR_LOG] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HTMLEDITORPARAMETER]    Script Date: 05/04/2019 15.52.32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HTMLEDITORPARAMETER](
	[Halaman] [varchar](50) NOT NULL,
	[Parameter] [varchar](50) NOT NULL,
	[Kolom] [varchar](50) NOT NULL,
	[Looping] [bit] NOT NULL,
	[Keterangan] [varchar](200) NOT NULL,
	[TipeData] [tinyint] NOT NULL,
	[Project] [varchar](20) NOT NULL,
 CONSTRAINT [PK_HTMLEDITORPARAMETER] PRIMARY KEY CLUSTERED 
(
	[Halaman] ASC,
	[Parameter] ASC,
	[Project] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LapPDF]    Script Date: 05/04/2019 15.52.32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LapPDF](
	[AttachmentID] [int] IDENTITY(1,1) NOT NULL,
	[Nama] [varchar](100) NOT NULL,
	[DefaultWP] [bit] NOT NULL,
	[Link] [varchar](max) NOT NULL,
	[TglGenerate] [datetime] NOT NULL,
	[IP] [varchar](50) NULL,
	[UserID] [varchar](20) NOT NULL,
	[FileName] [varchar](100) NOT NULL,
	[FileType] [varchar](100) NOT NULL,
	[FileSize] [decimal](18, 2) NULL,
	[FilterDari] [datetime] NULL,
	[FilterSampai] [datetime] NULL,
	[AccDari] [varchar](50) NULL,
	[AccSampai] [varchar](50) NULL,
	[PeriodeBln] [varchar](50) NULL,
	[PeriodeThn] [varchar](50) NULL,
	[SN] [int] NULL,
 CONSTRAINT [PK_LapPDF] PRIMARY KEY CLUSTERED 
(
	[AttachmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOGIN]    Script Date: 05/04/2019 15.52.32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGIN](
	[LogID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [varchar](20) NOT NULL,
	[SessionID] [varchar](50) NOT NULL,
	[IP] [varchar](50) NOT NULL,
	[TglLogin] [datetime] NOT NULL,
	[TglLogout] [datetime] NULL,
	[Status] [varchar](1) NOT NULL,
	[Nama] [varchar](50) NOT NULL,
	[SecLevel] [varchar](10) NOT NULL,
	[TglExpire] [datetime] NOT NULL,
 CONSTRAINT [PK_LOGIN] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Numerator]    Script Date: 05/04/2019 15.52.32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Numerator](
	[Kode] [varchar](20) NOT NULL,
	[Modul] [varchar](50) NOT NULL,
	[Nama] [varchar](50) NOT NULL,
	[ResetNum] [tinyint] NOT NULL,
	[DigitNum] [tinyint] NOT NULL,
	[FormatBulan] [tinyint] NOT NULL,
	[FormatTahun] [tinyint] NOT NULL,
	[Pemisah] [varchar](2) NOT NULL,
	[Prefix] [varchar](50) NOT NULL,
	[Komposisi] [varchar](max) NOT NULL,
	[SN] [smallint] NOT NULL,
	[Project] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Numerator] PRIMARY KEY CLUSTERED 
(
	[SN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGE]    Script Date: 05/04/2019 15.52.32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGE](
	[Halaman] [varchar](255) NOT NULL,
	[Modul] [varchar](50) NOT NULL,
	[Nama] [varchar](200) NOT NULL,
	[Baru] [bit] NOT NULL,
	[FreeAkses] [bit] NOT NULL,
	[TglInput] [datetime] NOT NULL,
 CONSTRAINT [PK_PAGE] PRIMARY KEY CLUSTERED 
(
	[Halaman] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGEDENY]    Script Date: 05/04/2019 15.52.33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGEDENY](
	[UserID] [varchar](20) NOT NULL,
	[Halaman] [varchar](255) NOT NULL,
	[Sifat] [bit] NOT NULL,
 CONSTRAINT [PK_PAGEDENY] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[Halaman] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGESEC]    Script Date: 05/04/2019 15.52.33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGESEC](
	[Halaman] [varchar](255) NOT NULL,
	[Kode] [varchar](10) NOT NULL,
 CONSTRAINT [PK_PAGESEC] PRIMARY KEY CLUSTERED 
(
	[Halaman] ASC,
	[Kode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLUGIN]    Script Date: 05/04/2019 15.52.33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLUGIN](
	[Halaman] [varchar](255) NOT NULL,
	[Modul] [varchar](50) NOT NULL,
	[Nama] [varchar](200) NOT NULL,
	[Baru] [bit] NOT NULL,
	[FreeAkses] [bit] NOT NULL,
	[TglInput] [datetime] NOT NULL,
 CONSTRAINT [PK_PLUGIN] PRIMARY KEY CLUSTERED 
(
	[Halaman] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLUGINDENY]    Script Date: 05/04/2019 15.52.33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLUGINDENY](
	[UserID] [varchar](20) NOT NULL,
	[Halaman] [varchar](255) NOT NULL,
	[Sifat] [bit] NOT NULL,
 CONSTRAINT [PK_PLUGINDENY] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[Halaman] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLUGINSEC]    Script Date: 05/04/2019 15.52.33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLUGINSEC](
	[Halaman] [varchar](255) NOT NULL,
	[Kode] [varchar](10) NOT NULL,
 CONSTRAINT [PK_PLUGINSEC] PRIMARY KEY CLUSTERED 
(
	[Halaman] ASC,
	[Kode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROBLEM]    Script Date: 05/04/2019 15.52.33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROBLEM](
	[ProblemID] [int] NOT NULL,
	[Tgl] [datetime] NOT NULL,
	[Url] [varchar](150) NOT NULL,
	[Ket] [varchar](max) NOT NULL,
 CONSTRAINT [PK_PROBLEM] PRIMARY KEY CLUSTERED 
(
	[ProblemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROJECTSEC]    Script Date: 05/04/2019 15.52.33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROJECTSEC](
	[Project] [varchar](20) NOT NULL,
	[UserID] [varchar](20) NOT NULL,
	[Granted] [bit] NOT NULL,
	[NamaProject] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PROJECTSEC] PRIMARY KEY CLUSTERED 
(
	[Project] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTSEC]    Script Date: 05/04/2019 15.52.33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTSEC](
	[Pers] [varchar](20) NOT NULL,
	[UserID] [varchar](20) NOT NULL,
	[Granted] [bit] NOT NULL,
	[NamaPers] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PTSEC] PRIMARY KEY CLUSTERED 
(
	[Pers] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REF_ADMIN_LAUNCHING]    Script Date: 05/04/2019 15.52.33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REF_ADMIN_LAUNCHING](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nama] [nvarchar](50) NULL,
	[UserID] [varchar](20) NULL,
	[Nomor] [int] NOT NULL,
 CONSTRAINT [PK_REF_ADMIN_LAUNCHING] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REF_APPROVAL]    Script Date: 05/04/2019 15.52.33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REF_APPROVAL](
	[UserID] [varchar](20) NOT NULL,
	[Lvl] [tinyint] NOT NULL,
	[Tipe] [tinyint] NOT NULL,
	[TglInput] [datetime] NOT NULL,
	[TglUpdate] [datetime] NULL,
	[Project] [varchar](20) NOT NULL,
 CONSTRAINT [PK_REF_APPROVAL_1] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[Lvl] ASC,
	[Tipe] ASC,
	[Project] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REF_DATA]    Script Date: 05/04/2019 15.52.33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REF_DATA](
	[No] [int] NOT NULL,
	[NPWP] [varchar](50) NOT NULL,
	[NPWPNama] [varchar](50) NOT NULL,
	[NoTelp] [varchar](50) NOT NULL,
	[NoFax] [varchar](50) NOT NULL,
	[AlamatPers] [varchar](max) NOT NULL,
	[AlamatProject] [varchar](max) NOT NULL,
	[AlamatNPWP] [varchar](max) NOT NULL,
	[RekBank] [varchar](50) NOT NULL,
	[RekNo] [varchar](50) NOT NULL,
	[RekAN] [varchar](50) NOT NULL,
	[RekAlamat] [varchar](max) NOT NULL,
	[RekCabang] [varchar](50) NOT NULL,
	[BlokNPWP] [varchar](50) NULL,
	[NomorNPWP] [varchar](50) NULL,
	[RTNPWP] [varchar](50) NULL,
	[RWNPWP] [varchar](50) NULL,
	[KecamatanNPWP] [varchar](50) NULL,
	[KelurahanNPWP] [varchar](50) NOT NULL,
	[KabupatenNPWP] [varchar](50) NOT NULL,
	[PropinsiNPWP] [varchar](50) NOT NULL,
	[KodePosNPWP] [varchar](50) NOT NULL,
	[Project] [varchar](20) NOT NULL,
 CONSTRAINT [PK_REF_DATA] PRIMARY KEY CLUSTERED 
(
	[No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REF_DATA_LOG]    Script Date: 05/04/2019 15.52.33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REF_DATA_LOG](
	[LogID] [bigint] IDENTITY(1,1) NOT NULL,
	[Tgl] [datetime] NOT NULL,
	[Aktivitas] [varchar](6) NOT NULL,
	[UserID] [varchar](20) NOT NULL,
	[IP] [varchar](50) NOT NULL,
	[Ket] [text] NOT NULL,
	[Pk] [varchar](50) NOT NULL,
	[Approve] [varchar](50) NOT NULL,
 CONSTRAINT [PK_REF_DATA_LOG] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REF_EMAIL]    Script Date: 05/04/2019 15.52.33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REF_EMAIL](
	[ID] [int] NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Project] [varchar](20) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REF_EMAIL_LOG]    Script Date: 05/04/2019 15.52.33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REF_EMAIL_LOG](
	[LogID] [bigint] IDENTITY(1,1) NOT NULL,
	[Tgl] [datetime] NOT NULL,
	[Aktivitas] [varchar](6) NOT NULL,
	[UserID] [varchar](20) NOT NULL,
	[IP] [varchar](50) NOT NULL,
	[Ket] [text] NOT NULL,
	[Pk] [varchar](50) NOT NULL,
	[Approve] [varchar](50) NOT NULL,
 CONSTRAINT [PK_REF_EMAIL_LOG] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REF_MANDATORY]    Script Date: 05/04/2019 15.52.34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REF_MANDATORY](
	[Halaman] [varchar](50) NOT NULL,
	[NamaKolom] [varchar](50) NOT NULL,
	[Keterangan] [varchar](50) NOT NULL,
	[HarusIsi] [bit] NOT NULL,
	[TipeData] [tinyint] NOT NULL,
	[Project] [varchar](20) NOT NULL,
 CONSTRAINT [PK_REF_MANDATORY] PRIMARY KEY CLUSTERED 
(
	[Halaman] ASC,
	[NamaKolom] ASC,
	[Project] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REF_PARAM]    Script Date: 05/04/2019 15.52.34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REF_PARAM](
	[ParamID] [varchar](50) NOT NULL,
	[Keterangan] [varchar](100) NULL,
	[Value] [varchar](50) NOT NULL,
	[Def] [int] NOT NULL,
 CONSTRAINT [PK_REF_PARAM] PRIMARY KEY CLUSTERED 
(
	[ParamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REF_PERS]    Script Date: 05/04/2019 15.52.34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REF_PERS](
	[Pers] [varchar](20) NOT NULL,
	[Nama] [varchar](100) NOT NULL,
	[SN] [int] NOT NULL,
 CONSTRAINT [PK_REF_PERS] PRIMARY KEY CLUSTERED 
(
	[Pers] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REF_PROJECT]    Script Date: 05/04/2019 15.52.34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REF_PROJECT](
	[Project] [varchar](20) NOT NULL,
	[Nama] [varchar](100) NOT NULL,
	[SN] [int] NOT NULL,
	[Pers] [varchar](20) NOT NULL,
	[SMSID] [varchar](50) NOT NULL,
 CONSTRAINT [PK_REF_PROJECT] PRIMARY KEY CLUSTERED 
(
	[Project] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REF_SIGN]    Script Date: 05/04/2019 15.52.34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REF_SIGN](
	[Dokumen] [varchar](50) NOT NULL,
	[SN] [int] NOT NULL,
	[Nama] [varchar](100) NOT NULL,
	[Jabatan] [varchar](100) NOT NULL,
 CONSTRAINT [PK_REF_SIGN] PRIMARY KEY CLUSTERED 
(
	[Dokumen] ASC,
	[SN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REF_SIGN_LOG]    Script Date: 05/04/2019 15.52.34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REF_SIGN_LOG](
	[LogID] [bigint] IDENTITY(1,1) NOT NULL,
	[Tgl] [datetime] NOT NULL,
	[Aktivitas] [varchar](6) NOT NULL,
	[UserID] [varchar](20) NOT NULL,
	[IP] [varchar](50) NOT NULL,
	[Ket] [text] NOT NULL,
	[Pk] [varchar](50) NOT NULL,
	[Approve] [varchar](50) NOT NULL,
 CONSTRAINT [PK_REF_SIGN_LOG] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REPORT]    Script Date: 05/04/2019 15.52.34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REPORT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Tipe] [varchar](100) NOT NULL,
	[DefaultReport] [bit] NOT NULL,
	[Nama] [varchar](100) NOT NULL,
	[Path] [varchar](max) NOT NULL,
	[Link] [varchar](max) NOT NULL,
	[TglGenerate] [datetime] NOT NULL,
 CONSTRAINT [PK_REPORT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SECLEVEL]    Script Date: 05/04/2019 15.52.34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SECLEVEL](
	[Kode] [varchar](10) NOT NULL,
	[Nama] [varchar](50) NOT NULL,
 CONSTRAINT [PK_SECLEVEL] PRIMARY KEY CLUSTERED 
(
	[Kode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SECLEVEL_LOG]    Script Date: 05/04/2019 15.52.34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SECLEVEL_LOG](
	[LogID] [bigint] IDENTITY(1,1) NOT NULL,
	[Tgl] [datetime] NOT NULL,
	[Aktivitas] [varchar](6) NOT NULL,
	[UserID] [varchar](20) NOT NULL,
	[IP] [varchar](50) NOT NULL,
	[Ket] [text] NOT NULL,
	[Pk] [varchar](50) NOT NULL,
	[Approve] [varchar](50) NOT NULL,
 CONSTRAINT [PK_SECLEVEL_LOG] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SECURITY_LOG]    Script Date: 05/04/2019 15.52.34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SECURITY_LOG](
	[LogID] [bigint] IDENTITY(1,1) NOT NULL,
	[Tgl] [datetime] NOT NULL,
	[Aktivitas] [varchar](2) NOT NULL,
	[UserID] [varchar](20) NOT NULL,
	[IP] [varchar](50) NOT NULL,
	[Nama] [varchar](50) NOT NULL,
	[SecLevel] [varchar](10) NOT NULL,
 CONSTRAINT [PK_SECURITY_LOG] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SmsFormat]    Script Date: 05/04/2019 15.52.34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SmsFormat](
	[Project] [varchar](20) NOT NULL,
	[Tipe] [varchar](50) NOT NULL,
	[SatuanWaktu] [varchar](10) NOT NULL,
	[NilaiWaktu] [money] NOT NULL,
	[Format] [varchar](max) NOT NULL,
	[Inaktif] [bit] NOT NULL,
	[TglInput] [datetime] NOT NULL,
	[TglUpdate] [datetime] NOT NULL,
 CONSTRAINT [PK_SmsFormat_1] PRIMARY KEY CLUSTERED 
(
	[Project] ASC,
	[Tipe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SmsFormat_LOG]    Script Date: 05/04/2019 15.52.34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SmsFormat_LOG](
	[LogID] [bigint] IDENTITY(1,1) NOT NULL,
	[Tgl] [datetime] NOT NULL,
	[Aktivitas] [varchar](6) NOT NULL,
	[UserID] [varchar](20) NOT NULL,
	[IP] [varchar](50) NOT NULL,
	[Ket] [text] NOT NULL,
	[Pk] [varchar](50) NOT NULL,
	[Approve] [varchar](50) NOT NULL,
 CONSTRAINT [PK_SmsFormat_LOG] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SmsParam]    Script Date: 05/04/2019 15.52.34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SmsParam](
	[Tipe] [varchar](50) NOT NULL,
	[Param] [varchar](50) NOT NULL,
	[Kolom] [varchar](50) NOT NULL,
	[Looping] [bit] NOT NULL,
	[Keterangan] [varchar](max) NOT NULL,
	[TipeData] [tinyint] NOT NULL,
 CONSTRAINT [PK_SmsParam] PRIMARY KEY CLUSTERED 
(
	[Tipe] ASC,
	[Param] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SmsSatuTitik]    Script Date: 05/04/2019 15.52.34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SmsSatuTitik](
	[Project] [varchar](20) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Pass] [varchar](50) NOT NULL,
	[Masking] [varchar](50) NOT NULL,
	[Divisi] [varchar](50) NOT NULL,
	[TglInput] [datetime] NOT NULL,
	[TglUpdate] [datetime] NOT NULL,
 CONSTRAINT [PK_SmsSatuTitik] PRIMARY KEY CLUSTERED 
(
	[Project] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SmsSatuTitik_LOG]    Script Date: 05/04/2019 15.52.34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SmsSatuTitik_LOG](
	[LogID] [bigint] IDENTITY(1,1) NOT NULL,
	[Tgl] [datetime] NOT NULL,
	[Aktivitas] [varchar](6) NOT NULL,
	[UserID] [varchar](20) NOT NULL,
	[IP] [varchar](50) NOT NULL,
	[Ket] [text] NOT NULL,
	[Pk] [varchar](50) NOT NULL,
	[Approve] [varchar](50) NOT NULL,
 CONSTRAINT [PK_SmsSatuTitik_LOG] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SmsVendor]    Script Date: 05/04/2019 15.52.35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SmsVendor](
	[SMSID] [varchar](50) NOT NULL,
	[Nama] [varchar](100) NOT NULL,
	[Ket] [varchar](max) NOT NULL,
 CONSTRAINT [PK_SmsVendor] PRIMARY KEY CLUSTERED 
(
	[SMSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERNAME]    Script Date: 05/04/2019 15.52.35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERNAME](
	[UserID] [varchar](20) NOT NULL,
	[Pass] [varchar](32) NOT NULL,
	[Nama] [varchar](50) NOT NULL,
	[TglLogin] [datetime] NOT NULL,
	[TglPass] [datetime] NOT NULL,
	[Status] [varchar](1) NOT NULL,
	[TglBlokir] [datetime] NULL,
	[GantiPass] [bit] NOT NULL,
	[RotasiPass] [int] NOT NULL,
	[SecLevel] [varchar](10) NOT NULL,
	[PassError] [int] NOT NULL,
	[TglInput] [datetime] NOT NULL,
	[NoAgent] [int] NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Foto] [varchar](50) NOT NULL,
 CONSTRAINT [PK_USERNAME] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERNAME_LOG]    Script Date: 05/04/2019 15.52.35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERNAME_LOG](
	[LogID] [bigint] IDENTITY(1,1) NOT NULL,
	[Tgl] [datetime] NOT NULL,
	[Aktivitas] [varchar](3) NOT NULL,
	[UserID] [varchar](20) NOT NULL,
	[IP] [varchar](50) NOT NULL,
	[Ket] [text] NOT NULL,
	[Pk] [varchar](50) NOT NULL,
	[Approve] [varchar](50) NOT NULL,
 CONSTRAINT [PK_USERNAME_LOG] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[HTMLEDITOR] ADD  CONSTRAINT [DF_HTMLEDITOR_Modul]  DEFAULT ('') FOR [Modul]
GO
ALTER TABLE [dbo].[HTMLEDITOR] ADD  CONSTRAINT [DF_HTMLEDITOR_Html]  DEFAULT ('') FOR [Html]
GO
ALTER TABLE [dbo].[HTMLEDITOR] ADD  DEFAULT ('') FOR [Project]
GO
ALTER TABLE [dbo].[HTMLEDITOR] ADD  DEFAULT ('') FOR [Nama]
GO
ALTER TABLE [dbo].[HTMLEDITOR_LOG] ADD  CONSTRAINT [DF_HTMLEDITOR_LOG_Tgl]  DEFAULT (getdate()) FOR [Tgl]
GO
ALTER TABLE [dbo].[HTMLEDITOR_LOG] ADD  CONSTRAINT [DF_HTMLEDITOR_LOG_Aktivitas]  DEFAULT ('') FOR [Aktivitas]
GO
ALTER TABLE [dbo].[HTMLEDITOR_LOG] ADD  CONSTRAINT [DF_HTMLEDITOR_LOG_UserID]  DEFAULT ('') FOR [UserID]
GO
ALTER TABLE [dbo].[HTMLEDITOR_LOG] ADD  CONSTRAINT [DF_HTMLEDITOR_LOG_IP]  DEFAULT ('') FOR [IP]
GO
ALTER TABLE [dbo].[HTMLEDITOR_LOG] ADD  CONSTRAINT [DF_HTMLEDITOR_LOG_Ket]  DEFAULT ('') FOR [Ket]
GO
ALTER TABLE [dbo].[HTMLEDITOR_LOG] ADD  CONSTRAINT [DF_HTMLEDITOR_LOG_Pk]  DEFAULT ('') FOR [Pk]
GO
ALTER TABLE [dbo].[HTMLEDITOR_LOG] ADD  CONSTRAINT [DF_HTMLEDITOR_LOG_Approve]  DEFAULT ('') FOR [Approve]
GO
ALTER TABLE [dbo].[HTMLEDITOR_LOG] ADD  DEFAULT ('') FOR [Project]
GO
ALTER TABLE [dbo].[HTMLEDITORPARAMETER] ADD  CONSTRAINT [DF_HTMLEDITORPARAMETER_Kolom]  DEFAULT ('') FOR [Kolom]
GO
ALTER TABLE [dbo].[HTMLEDITORPARAMETER] ADD  CONSTRAINT [DF_HTMLEDITORPARAMETER_Looping]  DEFAULT ((0)) FOR [Looping]
GO
ALTER TABLE [dbo].[HTMLEDITORPARAMETER] ADD  CONSTRAINT [DF_HTMLEDITORPARAMETER_Keterangan]  DEFAULT ('') FOR [Keterangan]
GO
ALTER TABLE [dbo].[HTMLEDITORPARAMETER] ADD  DEFAULT ((0)) FOR [TipeData]
GO
ALTER TABLE [dbo].[HTMLEDITORPARAMETER] ADD  DEFAULT ('') FOR [Project]
GO
ALTER TABLE [dbo].[LapPDF] ADD  CONSTRAINT [DF_LapPDF_Nama]  DEFAULT ('') FOR [Nama]
GO
ALTER TABLE [dbo].[LapPDF] ADD  CONSTRAINT [DF_LapPDF_DefaultWP]  DEFAULT ((0)) FOR [DefaultWP]
GO
ALTER TABLE [dbo].[LapPDF] ADD  CONSTRAINT [DF_LapPDF_Link]  DEFAULT ('') FOR [Link]
GO
ALTER TABLE [dbo].[LapPDF] ADD  CONSTRAINT [DF_LapPDF_TglGenerate]  DEFAULT (getdate()) FOR [TglGenerate]
GO
ALTER TABLE [dbo].[LapPDF] ADD  CONSTRAINT [DF_LapPDF_IP_1]  DEFAULT ('') FOR [IP]
GO
ALTER TABLE [dbo].[LapPDF] ADD  CONSTRAINT [DF_LapPDF_UserID_1]  DEFAULT ('') FOR [UserID]
GO
ALTER TABLE [dbo].[LapPDF] ADD  CONSTRAINT [DF_LapPDF_FileName]  DEFAULT ('') FOR [FileName]
GO
ALTER TABLE [dbo].[LapPDF] ADD  CONSTRAINT [DF_LapPDF_FileType_1]  DEFAULT ('') FOR [FileType]
GO
ALTER TABLE [dbo].[LapPDF] ADD  CONSTRAINT [DF_LapPDF_FileSize_1]  DEFAULT ((0)) FOR [FileSize]
GO
ALTER TABLE [dbo].[LapPDF] ADD  CONSTRAINT [DF_LapPDF_FilterDari]  DEFAULT (getdate()) FOR [FilterDari]
GO
ALTER TABLE [dbo].[LapPDF] ADD  CONSTRAINT [DF_LapPDF_FilterSampai]  DEFAULT (getdate()) FOR [FilterSampai]
GO
ALTER TABLE [dbo].[LapPDF] ADD  CONSTRAINT [DF_LapPDF_AccDari_1]  DEFAULT ('') FOR [AccDari]
GO
ALTER TABLE [dbo].[LapPDF] ADD  CONSTRAINT [DF_LapPDF_AccSampai_1]  DEFAULT ('') FOR [AccSampai]
GO
ALTER TABLE [dbo].[LapPDF] ADD  CONSTRAINT [DF_LapPDF_PeriodeBln]  DEFAULT ('') FOR [PeriodeBln]
GO
ALTER TABLE [dbo].[LapPDF] ADD  CONSTRAINT [DF_LapPDF_PeriodeThn]  DEFAULT ('') FOR [PeriodeThn]
GO
ALTER TABLE [dbo].[LOGIN] ADD  CONSTRAINT [DF_LOGIN_UserID]  DEFAULT ('') FOR [UserID]
GO
ALTER TABLE [dbo].[LOGIN] ADD  CONSTRAINT [DF_LOGIN_SessionID]  DEFAULT ('') FOR [SessionID]
GO
ALTER TABLE [dbo].[LOGIN] ADD  CONSTRAINT [DF_LOGIN_IP]  DEFAULT ('') FOR [IP]
GO
ALTER TABLE [dbo].[LOGIN] ADD  CONSTRAINT [DF_LOGIN_TglLogin]  DEFAULT (getdate()) FOR [TglLogin]
GO
ALTER TABLE [dbo].[LOGIN] ADD  CONSTRAINT [DF_LOGIN_Status]  DEFAULT ('A') FOR [Status]
GO
ALTER TABLE [dbo].[LOGIN] ADD  CONSTRAINT [DF_LOGIN_Nama]  DEFAULT ('') FOR [Nama]
GO
ALTER TABLE [dbo].[LOGIN] ADD  CONSTRAINT [DF_LOGIN_SecLevel]  DEFAULT ('') FOR [SecLevel]
GO
ALTER TABLE [dbo].[LOGIN] ADD  CONSTRAINT [DF_LOGIN_TglExpire]  DEFAULT (getdate()) FOR [TglExpire]
GO
ALTER TABLE [dbo].[Numerator] ADD  CONSTRAINT [DF_Numerator_Modul]  DEFAULT ('') FOR [Modul]
GO
ALTER TABLE [dbo].[Numerator] ADD  CONSTRAINT [DF_Numerator_Nama]  DEFAULT ('') FOR [Nama]
GO
ALTER TABLE [dbo].[Numerator] ADD  CONSTRAINT [DF_Numerator_ResetNum]  DEFAULT ((0)) FOR [ResetNum]
GO
ALTER TABLE [dbo].[Numerator] ADD  CONSTRAINT [DF_Numerator_DigitNum]  DEFAULT ((0)) FOR [DigitNum]
GO
ALTER TABLE [dbo].[Numerator] ADD  CONSTRAINT [DF_Numerator_FormatBulan]  DEFAULT ((0)) FOR [FormatBulan]
GO
ALTER TABLE [dbo].[Numerator] ADD  CONSTRAINT [DF_Numerator_FormatTahun]  DEFAULT ((0)) FOR [FormatTahun]
GO
ALTER TABLE [dbo].[Numerator] ADD  CONSTRAINT [DF_Numerator_Pemisah]  DEFAULT ('') FOR [Pemisah]
GO
ALTER TABLE [dbo].[Numerator] ADD  CONSTRAINT [DF_Numerator_Prefix]  DEFAULT ('') FOR [Prefix]
GO
ALTER TABLE [dbo].[Numerator] ADD  CONSTRAINT [DF_Numerator_Komposisi]  DEFAULT ('') FOR [Komposisi]
GO
ALTER TABLE [dbo].[Numerator] ADD  CONSTRAINT [DF_Numerator_SN]  DEFAULT ((0)) FOR [SN]
GO
ALTER TABLE [dbo].[Numerator] ADD  DEFAULT ('') FOR [Project]
GO
ALTER TABLE [dbo].[PAGE] ADD  CONSTRAINT [DF_PAGE_Modul]  DEFAULT ('') FOR [Modul]
GO
ALTER TABLE [dbo].[PAGE] ADD  CONSTRAINT [DF_PAGE_Nama]  DEFAULT ('') FOR [Nama]
GO
ALTER TABLE [dbo].[PAGE] ADD  CONSTRAINT [DF_PAGE_Baru]  DEFAULT ((0)) FOR [Baru]
GO
ALTER TABLE [dbo].[PAGE] ADD  CONSTRAINT [DF_PAGE_FreeAkses]  DEFAULT ((0)) FOR [FreeAkses]
GO
ALTER TABLE [dbo].[PAGE] ADD  CONSTRAINT [DF_PAGE_TglInput]  DEFAULT (getdate()) FOR [TglInput]
GO
ALTER TABLE [dbo].[PAGEDENY] ADD  CONSTRAINT [DF_PAGEDENY_Sifat]  DEFAULT ((0)) FOR [Sifat]
GO
ALTER TABLE [dbo].[PLUGIN] ADD  CONSTRAINT [DF_PLUGIN_Modul]  DEFAULT ('') FOR [Modul]
GO
ALTER TABLE [dbo].[PLUGIN] ADD  CONSTRAINT [DF_PLUGIN_Nama]  DEFAULT ('') FOR [Nama]
GO
ALTER TABLE [dbo].[PLUGIN] ADD  CONSTRAINT [DF_PLUGIN_Baru]  DEFAULT ((0)) FOR [Baru]
GO
ALTER TABLE [dbo].[PLUGIN] ADD  CONSTRAINT [DF_PLUGIN_FreeAkses]  DEFAULT ((0)) FOR [FreeAkses]
GO
ALTER TABLE [dbo].[PLUGIN] ADD  CONSTRAINT [DF_PLUGIN_TglInput]  DEFAULT (getdate()) FOR [TglInput]
GO
ALTER TABLE [dbo].[PLUGINDENY] ADD  CONSTRAINT [DF_PLUGINDENY_Sifat]  DEFAULT ((0)) FOR [Sifat]
GO
ALTER TABLE [dbo].[PROBLEM] ADD  CONSTRAINT [DF_PROBLEM_Tgl]  DEFAULT (getdate()) FOR [Tgl]
GO
ALTER TABLE [dbo].[PROBLEM] ADD  CONSTRAINT [DF_PROBLEM_Url]  DEFAULT ('') FOR [Url]
GO
ALTER TABLE [dbo].[PROBLEM] ADD  CONSTRAINT [DF_PROBLEM_Ket]  DEFAULT ('') FOR [Ket]
GO
ALTER TABLE [dbo].[PROJECTSEC] ADD  CONSTRAINT [DF_PROJECTSEC_Grant]  DEFAULT ((0)) FOR [Granted]
GO
ALTER TABLE [dbo].[PROJECTSEC] ADD  CONSTRAINT [DF_PROJECTSEC_NamaProject]  DEFAULT ('') FOR [NamaProject]
GO
ALTER TABLE [dbo].[REF_ADMIN_LAUNCHING] ADD  CONSTRAINT [DF_REF_ADMIN_LAUNCHING_Nomor]  DEFAULT ((0)) FOR [Nomor]
GO
ALTER TABLE [dbo].[REF_APPROVAL] ADD  CONSTRAINT [DF_REF_APPROVAL_TglInput]  DEFAULT (getdate()) FOR [TglInput]
GO
ALTER TABLE [dbo].[REF_APPROVAL] ADD  DEFAULT ('') FOR [Project]
GO
ALTER TABLE [dbo].[REF_DATA] ADD  DEFAULT ((1)) FOR [No]
GO
ALTER TABLE [dbo].[REF_DATA] ADD  CONSTRAINT [DF_Table_1_Data]  DEFAULT ('') FOR [NPWP]
GO
ALTER TABLE [dbo].[REF_DATA] ADD  CONSTRAINT [DF_REF_DATA_NPWPNama]  DEFAULT ('') FOR [NPWPNama]
GO
ALTER TABLE [dbo].[REF_DATA] ADD  CONSTRAINT [DF_REF_DATA_NoTelp]  DEFAULT ('') FOR [NoTelp]
GO
ALTER TABLE [dbo].[REF_DATA] ADD  CONSTRAINT [DF_REF_DATA_NoFax]  DEFAULT ('') FOR [NoFax]
GO
ALTER TABLE [dbo].[REF_DATA] ADD  CONSTRAINT [DF_REF_DATA_AlamatPers]  DEFAULT ('') FOR [AlamatPers]
GO
ALTER TABLE [dbo].[REF_DATA] ADD  CONSTRAINT [DF_REF_DATA_AlamatProject]  DEFAULT ('') FOR [AlamatProject]
GO
ALTER TABLE [dbo].[REF_DATA] ADD  CONSTRAINT [DF_REF_DATA_AlamatNPWP]  DEFAULT ('') FOR [AlamatNPWP]
GO
ALTER TABLE [dbo].[REF_DATA] ADD  CONSTRAINT [DF_REF_DATA_RekBank]  DEFAULT ('') FOR [RekBank]
GO
ALTER TABLE [dbo].[REF_DATA] ADD  CONSTRAINT [DF_REF_DATA_RekNo]  DEFAULT ('') FOR [RekNo]
GO
ALTER TABLE [dbo].[REF_DATA] ADD  CONSTRAINT [DF_REF_DATA_RekAN]  DEFAULT ('') FOR [RekAN]
GO
ALTER TABLE [dbo].[REF_DATA] ADD  CONSTRAINT [DF_REF_DATA_RekAlamat]  DEFAULT ('') FOR [RekAlamat]
GO
ALTER TABLE [dbo].[REF_DATA] ADD  CONSTRAINT [DF_REF_DATA_RekCabang]  DEFAULT ('') FOR [RekCabang]
GO
ALTER TABLE [dbo].[REF_DATA] ADD  DEFAULT ('') FOR [KelurahanNPWP]
GO
ALTER TABLE [dbo].[REF_DATA] ADD  DEFAULT ('') FOR [KabupatenNPWP]
GO
ALTER TABLE [dbo].[REF_DATA] ADD  DEFAULT ('') FOR [PropinsiNPWP]
GO
ALTER TABLE [dbo].[REF_DATA] ADD  DEFAULT ('') FOR [KodePosNPWP]
GO
ALTER TABLE [dbo].[REF_DATA] ADD  DEFAULT ('') FOR [Project]
GO
ALTER TABLE [dbo].[REF_DATA_LOG] ADD  CONSTRAINT [DF_REF_DATA_LOG_Tgl]  DEFAULT (getdate()) FOR [Tgl]
GO
ALTER TABLE [dbo].[REF_DATA_LOG] ADD  CONSTRAINT [DF_REF_DATA_LOG_Aktivitas]  DEFAULT ('') FOR [Aktivitas]
GO
ALTER TABLE [dbo].[REF_DATA_LOG] ADD  CONSTRAINT [DF_REF_DATA_LOG_UserID]  DEFAULT ('') FOR [UserID]
GO
ALTER TABLE [dbo].[REF_DATA_LOG] ADD  CONSTRAINT [DF_REF_DATA_LOG_IP]  DEFAULT ('') FOR [IP]
GO
ALTER TABLE [dbo].[REF_DATA_LOG] ADD  CONSTRAINT [DF_REF_DATA_LOG_Ket]  DEFAULT ('') FOR [Ket]
GO
ALTER TABLE [dbo].[REF_DATA_LOG] ADD  CONSTRAINT [DF_REF_DATA_LOG_Pk]  DEFAULT ('') FOR [Pk]
GO
ALTER TABLE [dbo].[REF_DATA_LOG] ADD  CONSTRAINT [DF_REF_DATA_LOG_Approve]  DEFAULT ('') FOR [Approve]
GO
ALTER TABLE [dbo].[REF_EMAIL] ADD  CONSTRAINT [DF_REF_EMAIL_Email]  DEFAULT ('') FOR [Email]
GO
ALTER TABLE [dbo].[REF_EMAIL] ADD  CONSTRAINT [DF_REF_EMAIL_Project]  DEFAULT ('') FOR [Project]
GO
ALTER TABLE [dbo].[REF_EMAIL_LOG] ADD  CONSTRAINT [DF_REF_EMAIL_LOG_Tgl]  DEFAULT (getdate()) FOR [Tgl]
GO
ALTER TABLE [dbo].[REF_EMAIL_LOG] ADD  CONSTRAINT [DF_REF_EMAIL_LOG_Aktivitas]  DEFAULT ('') FOR [Aktivitas]
GO
ALTER TABLE [dbo].[REF_EMAIL_LOG] ADD  CONSTRAINT [DF_REF_EMAIL_LOG_UserID]  DEFAULT ('') FOR [UserID]
GO
ALTER TABLE [dbo].[REF_EMAIL_LOG] ADD  CONSTRAINT [DF_REF_EMAIL_LOG_IP]  DEFAULT ('') FOR [IP]
GO
ALTER TABLE [dbo].[REF_EMAIL_LOG] ADD  CONSTRAINT [DF_REF_EMAIL_LOG_Ket]  DEFAULT ('') FOR [Ket]
GO
ALTER TABLE [dbo].[REF_EMAIL_LOG] ADD  CONSTRAINT [DF_REF_EMAIL_LOG_Pk]  DEFAULT ('') FOR [Pk]
GO
ALTER TABLE [dbo].[REF_EMAIL_LOG] ADD  CONSTRAINT [DF_REF_EMAIL_LOG_Approve]  DEFAULT ('') FOR [Approve]
GO
ALTER TABLE [dbo].[REF_MANDATORY] ADD  CONSTRAINT [DF_REF_MANDATORY_Halaman]  DEFAULT ('') FOR [Halaman]
GO
ALTER TABLE [dbo].[REF_MANDATORY] ADD  CONSTRAINT [DF__REF_MANDA__NamaK__10566F31]  DEFAULT ('') FOR [NamaKolom]
GO
ALTER TABLE [dbo].[REF_MANDATORY] ADD  CONSTRAINT [DF_REF_MANDATORY_Keterangan]  DEFAULT ('') FOR [Keterangan]
GO
ALTER TABLE [dbo].[REF_MANDATORY] ADD  CONSTRAINT [DF_REF_MANDATORY_HarusIsi]  DEFAULT ((0)) FOR [HarusIsi]
GO
ALTER TABLE [dbo].[REF_MANDATORY] ADD  CONSTRAINT [DF__REF_MANDA__TipeD__1332DBDC]  DEFAULT ((0)) FOR [TipeData]
GO
ALTER TABLE [dbo].[REF_MANDATORY] ADD  CONSTRAINT [DF__REF_MANDA__Proje__73852659]  DEFAULT ('') FOR [Project]
GO
ALTER TABLE [dbo].[REF_PARAM] ADD  CONSTRAINT [DF_REF_PARAM_Default]  DEFAULT ((0)) FOR [Def]
GO
ALTER TABLE [dbo].[REF_PROJECT] ADD  DEFAULT ('') FOR [SMSID]
GO
ALTER TABLE [dbo].[REF_SIGN] ADD  CONSTRAINT [DF_REF_SIGN_Nama]  DEFAULT ('') FOR [Nama]
GO
ALTER TABLE [dbo].[REF_SIGN] ADD  CONSTRAINT [DF_REF_SIGN_Jabatan]  DEFAULT ('') FOR [Jabatan]
GO
ALTER TABLE [dbo].[REF_SIGN_LOG] ADD  CONSTRAINT [DF_REF_SIGN_LOG_Tgl]  DEFAULT (getdate()) FOR [Tgl]
GO
ALTER TABLE [dbo].[REF_SIGN_LOG] ADD  CONSTRAINT [DF_REF_SIGN_LOG_Aktivitas]  DEFAULT ('') FOR [Aktivitas]
GO
ALTER TABLE [dbo].[REF_SIGN_LOG] ADD  CONSTRAINT [DF_REF_SIGN_LOG_UserID]  DEFAULT ('') FOR [UserID]
GO
ALTER TABLE [dbo].[REF_SIGN_LOG] ADD  CONSTRAINT [DF_REF_SIGN_LOG_IP]  DEFAULT ('') FOR [IP]
GO
ALTER TABLE [dbo].[REF_SIGN_LOG] ADD  CONSTRAINT [DF_REF_SIGN_LOG_Ket]  DEFAULT ('') FOR [Ket]
GO
ALTER TABLE [dbo].[REF_SIGN_LOG] ADD  CONSTRAINT [DF_REF_SIGN_LOG_Pk]  DEFAULT ('') FOR [Pk]
GO
ALTER TABLE [dbo].[REF_SIGN_LOG] ADD  CONSTRAINT [DF_REF_SIGN_LOG_Approve]  DEFAULT ('') FOR [Approve]
GO
ALTER TABLE [dbo].[REPORT] ADD  CONSTRAINT [DF_Table_1_TipeLaporan]  DEFAULT ('') FOR [Tipe]
GO
ALTER TABLE [dbo].[REPORT] ADD  CONSTRAINT [DF_REPORT_Default]  DEFAULT ((0)) FOR [DefaultReport]
GO
ALTER TABLE [dbo].[REPORT] ADD  CONSTRAINT [DF_REPORT_Nama]  DEFAULT ('') FOR [Nama]
GO
ALTER TABLE [dbo].[REPORT] ADD  CONSTRAINT [DF_REPORT_Path]  DEFAULT ('') FOR [Path]
GO
ALTER TABLE [dbo].[REPORT] ADD  CONSTRAINT [DF_REPORT_Link]  DEFAULT ('') FOR [Link]
GO
ALTER TABLE [dbo].[REPORT] ADD  CONSTRAINT [DF_REPORT_TglGenerate]  DEFAULT (getdate()) FOR [TglGenerate]
GO
ALTER TABLE [dbo].[SECLEVEL] ADD  CONSTRAINT [DF_SECLEVEL_Nama]  DEFAULT ('') FOR [Nama]
GO
ALTER TABLE [dbo].[SECLEVEL_LOG] ADD  CONSTRAINT [DF_SECLEVEL_LOG_Tgl]  DEFAULT (getdate()) FOR [Tgl]
GO
ALTER TABLE [dbo].[SECLEVEL_LOG] ADD  CONSTRAINT [DF_SECLEVEL_LOG_Aktivitas]  DEFAULT ('') FOR [Aktivitas]
GO
ALTER TABLE [dbo].[SECLEVEL_LOG] ADD  CONSTRAINT [DF_SECLEVEL_LOG_UserID]  DEFAULT ('') FOR [UserID]
GO
ALTER TABLE [dbo].[SECLEVEL_LOG] ADD  CONSTRAINT [DF_SECLEVEL_LOG_IP]  DEFAULT ('') FOR [IP]
GO
ALTER TABLE [dbo].[SECLEVEL_LOG] ADD  CONSTRAINT [DF_SECLEVEL_LOG_Ket]  DEFAULT ('') FOR [Ket]
GO
ALTER TABLE [dbo].[SECLEVEL_LOG] ADD  CONSTRAINT [DF_SECLEVEL_LOG_Pk]  DEFAULT ('') FOR [Pk]
GO
ALTER TABLE [dbo].[SECLEVEL_LOG] ADD  CONSTRAINT [DF_SECLEVEL_LOG_Approve]  DEFAULT ('') FOR [Approve]
GO
ALTER TABLE [dbo].[SECURITY_LOG] ADD  CONSTRAINT [DF_SECURITY_LOG_Tgl]  DEFAULT (getdate()) FOR [Tgl]
GO
ALTER TABLE [dbo].[SECURITY_LOG] ADD  CONSTRAINT [DF_SECURITY_LOG_Aktivitas]  DEFAULT ('') FOR [Aktivitas]
GO
ALTER TABLE [dbo].[SECURITY_LOG] ADD  CONSTRAINT [DF_SECURITY_LOG_UserID]  DEFAULT ('') FOR [UserID]
GO
ALTER TABLE [dbo].[SECURITY_LOG] ADD  CONSTRAINT [DF_SECURITY_LOG_IP]  DEFAULT ('') FOR [IP]
GO
ALTER TABLE [dbo].[SECURITY_LOG] ADD  CONSTRAINT [DF_SECURITY_LOG_Nama]  DEFAULT ('') FOR [Nama]
GO
ALTER TABLE [dbo].[SECURITY_LOG] ADD  CONSTRAINT [DF_SECURITY_LOG_SecLevel]  DEFAULT ('') FOR [SecLevel]
GO
ALTER TABLE [dbo].[SmsFormat] ADD  CONSTRAINT [DF_SmsFormat_Tipe]  DEFAULT ('') FOR [Tipe]
GO
ALTER TABLE [dbo].[SmsFormat] ADD  CONSTRAINT [DF_SmsFormat_SatuanWaktu]  DEFAULT ('') FOR [SatuanWaktu]
GO
ALTER TABLE [dbo].[SmsFormat] ADD  CONSTRAINT [DF_SmsFormat_NilaiWaktu]  DEFAULT ((0)) FOR [NilaiWaktu]
GO
ALTER TABLE [dbo].[SmsFormat] ADD  CONSTRAINT [DF_SmsFormat_Format]  DEFAULT ('') FOR [Format]
GO
ALTER TABLE [dbo].[SmsFormat] ADD  CONSTRAINT [DF_SmsFormat_Inaktif]  DEFAULT ((0)) FOR [Inaktif]
GO
ALTER TABLE [dbo].[SmsFormat] ADD  CONSTRAINT [DF_SmsFormat_TglInput]  DEFAULT (getdate()) FOR [TglInput]
GO
ALTER TABLE [dbo].[SmsFormat] ADD  CONSTRAINT [DF_SmsFormat_TglUpdate]  DEFAULT (getdate()) FOR [TglUpdate]
GO
ALTER TABLE [dbo].[SmsFormat_LOG] ADD  CONSTRAINT [DF_SmsFormat_LOG_Tgl]  DEFAULT (getdate()) FOR [Tgl]
GO
ALTER TABLE [dbo].[SmsFormat_LOG] ADD  CONSTRAINT [DF_SmsFormat_LOG_Aktivitas]  DEFAULT ('') FOR [Aktivitas]
GO
ALTER TABLE [dbo].[SmsFormat_LOG] ADD  CONSTRAINT [DF_SmsFormat_LOG_UserID]  DEFAULT ('') FOR [UserID]
GO
ALTER TABLE [dbo].[SmsFormat_LOG] ADD  CONSTRAINT [DF_SmsFormat_LOG_IP]  DEFAULT ('') FOR [IP]
GO
ALTER TABLE [dbo].[SmsFormat_LOG] ADD  CONSTRAINT [DF_SmsFormat_LOG_Ket]  DEFAULT ('') FOR [Ket]
GO
ALTER TABLE [dbo].[SmsFormat_LOG] ADD  CONSTRAINT [DF_SmsFormat_LOG_Pk]  DEFAULT ('') FOR [Pk]
GO
ALTER TABLE [dbo].[SmsFormat_LOG] ADD  CONSTRAINT [DF_SmsFormat_LOG_Approve]  DEFAULT ('') FOR [Approve]
GO
ALTER TABLE [dbo].[SmsParam] ADD  CONSTRAINT [DF_SmsParam_Kolom]  DEFAULT ('') FOR [Kolom]
GO
ALTER TABLE [dbo].[SmsParam] ADD  CONSTRAINT [DF_SmsParam_Looping]  DEFAULT ((0)) FOR [Looping]
GO
ALTER TABLE [dbo].[SmsParam] ADD  CONSTRAINT [DF_SmsParam_Keterangan]  DEFAULT ('') FOR [Keterangan]
GO
ALTER TABLE [dbo].[SmsParam] ADD  CONSTRAINT [DF_SmsParam_TipeData]  DEFAULT ((0)) FOR [TipeData]
GO
ALTER TABLE [dbo].[SmsSatuTitik] ADD  CONSTRAINT [DF_SmsSatuTitik_Username]  DEFAULT ('') FOR [Username]
GO
ALTER TABLE [dbo].[SmsSatuTitik] ADD  CONSTRAINT [DF_SmsSatuTitik_Pass]  DEFAULT ('') FOR [Pass]
GO
ALTER TABLE [dbo].[SmsSatuTitik] ADD  CONSTRAINT [DF_SmsSatuTitik_Masking]  DEFAULT ('') FOR [Masking]
GO
ALTER TABLE [dbo].[SmsSatuTitik] ADD  CONSTRAINT [DF_SmsSatuTitik_Divisi]  DEFAULT ('') FOR [Divisi]
GO
ALTER TABLE [dbo].[SmsSatuTitik] ADD  CONSTRAINT [DF_SmsSatuTitik_TglInput]  DEFAULT (getdate()) FOR [TglInput]
GO
ALTER TABLE [dbo].[SmsSatuTitik] ADD  CONSTRAINT [DF_SmsSatuTitik_TglUpdate]  DEFAULT (getdate()) FOR [TglUpdate]
GO
ALTER TABLE [dbo].[SmsSatuTitik_LOG] ADD  CONSTRAINT [DF_SmsSatuTitik_LOG_Tgl]  DEFAULT (getdate()) FOR [Tgl]
GO
ALTER TABLE [dbo].[SmsSatuTitik_LOG] ADD  CONSTRAINT [DF_SmsSatuTitik_LOG_Aktivitas]  DEFAULT ('') FOR [Aktivitas]
GO
ALTER TABLE [dbo].[SmsSatuTitik_LOG] ADD  CONSTRAINT [DF_SmsSatuTitik_LOG_UserID]  DEFAULT ('') FOR [UserID]
GO
ALTER TABLE [dbo].[SmsSatuTitik_LOG] ADD  CONSTRAINT [DF_SmsSatuTitik_LOG_IP]  DEFAULT ('') FOR [IP]
GO
ALTER TABLE [dbo].[SmsSatuTitik_LOG] ADD  CONSTRAINT [DF_SmsSatuTitik_LOG_Ket]  DEFAULT ('') FOR [Ket]
GO
ALTER TABLE [dbo].[SmsSatuTitik_LOG] ADD  CONSTRAINT [DF_SmsSatuTitik_LOG_Pk]  DEFAULT ('') FOR [Pk]
GO
ALTER TABLE [dbo].[SmsSatuTitik_LOG] ADD  CONSTRAINT [DF_SmsSatuTitik_LOG_Approve]  DEFAULT ('') FOR [Approve]
GO
ALTER TABLE [dbo].[SmsVendor] ADD  CONSTRAINT [DF_SmsVendor_Nama]  DEFAULT ('') FOR [Nama]
GO
ALTER TABLE [dbo].[SmsVendor] ADD  CONSTRAINT [DF_SmsVendor_Ket]  DEFAULT ('') FOR [Ket]
GO
ALTER TABLE [dbo].[USERNAME] ADD  CONSTRAINT [DF_USERNAME_Pass]  DEFAULT ('') FOR [Pass]
GO
ALTER TABLE [dbo].[USERNAME] ADD  CONSTRAINT [DF_USERNAME_Nama]  DEFAULT ('') FOR [Nama]
GO
ALTER TABLE [dbo].[USERNAME] ADD  CONSTRAINT [DF_USERNAME_TglLogin]  DEFAULT (getdate()) FOR [TglLogin]
GO
ALTER TABLE [dbo].[USERNAME] ADD  CONSTRAINT [DF_USERNAME_TglPass]  DEFAULT (getdate()) FOR [TglPass]
GO
ALTER TABLE [dbo].[USERNAME] ADD  CONSTRAINT [DF_USERNAME_Status]  DEFAULT ('A') FOR [Status]
GO
ALTER TABLE [dbo].[USERNAME] ADD  CONSTRAINT [DF_USERNAME_GantiPass]  DEFAULT ((1)) FOR [GantiPass]
GO
ALTER TABLE [dbo].[USERNAME] ADD  CONSTRAINT [DF_USERNAME_RotasiPass]  DEFAULT ((6)) FOR [RotasiPass]
GO
ALTER TABLE [dbo].[USERNAME] ADD  CONSTRAINT [DF_USERNAME_SecLevel]  DEFAULT ('') FOR [SecLevel]
GO
ALTER TABLE [dbo].[USERNAME] ADD  CONSTRAINT [DF_USERNAME_PassError]  DEFAULT ((0)) FOR [PassError]
GO
ALTER TABLE [dbo].[USERNAME] ADD  CONSTRAINT [DF_USERNAME_TglInput]  DEFAULT (getdate()) FOR [TglInput]
GO
ALTER TABLE [dbo].[USERNAME] ADD  DEFAULT ((0)) FOR [NoAgent]
GO
ALTER TABLE [dbo].[USERNAME] ADD  DEFAULT ('') FOR [Email]
GO
ALTER TABLE [dbo].[USERNAME] ADD  DEFAULT ('') FOR [Foto]
GO
ALTER TABLE [dbo].[USERNAME_LOG] ADD  CONSTRAINT [DF_USERNAME_LOG_Tgl]  DEFAULT (getdate()) FOR [Tgl]
GO
ALTER TABLE [dbo].[USERNAME_LOG] ADD  CONSTRAINT [DF_USERNAME_LOG_Aktivitas]  DEFAULT ('') FOR [Aktivitas]
GO
ALTER TABLE [dbo].[USERNAME_LOG] ADD  CONSTRAINT [DF_USERNAME_LOG_UserID]  DEFAULT ('') FOR [UserID]
GO
ALTER TABLE [dbo].[USERNAME_LOG] ADD  CONSTRAINT [DF_USERNAME_LOG_IP]  DEFAULT ('') FOR [IP]
GO
ALTER TABLE [dbo].[USERNAME_LOG] ADD  CONSTRAINT [DF_USERNAME_LOG_Ket]  DEFAULT ('') FOR [Ket]
GO
ALTER TABLE [dbo].[USERNAME_LOG] ADD  CONSTRAINT [DF_USERNAME_LOG_Pk]  DEFAULT ('') FOR [Pk]
GO
ALTER TABLE [dbo].[USERNAME_LOG] ADD  CONSTRAINT [DF_USERNAME_LOG_Approve]  DEFAULT ('') FOR [Approve]
GO
ALTER TABLE [dbo].[PAGEDENY]  WITH CHECK ADD  CONSTRAINT [FK_PAGEDENY_PAGE] FOREIGN KEY([Halaman])
REFERENCES [dbo].[PAGE] ([Halaman])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PAGEDENY] CHECK CONSTRAINT [FK_PAGEDENY_PAGE]
GO
ALTER TABLE [dbo].[PAGEDENY]  WITH CHECK ADD  CONSTRAINT [FK_PAGEDENY_USERNAME] FOREIGN KEY([UserID])
REFERENCES [dbo].[USERNAME] ([UserID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PAGEDENY] CHECK CONSTRAINT [FK_PAGEDENY_USERNAME]
GO
ALTER TABLE [dbo].[PAGESEC]  WITH CHECK ADD  CONSTRAINT [FK_PAGESEC_PAGE] FOREIGN KEY([Halaman])
REFERENCES [dbo].[PAGE] ([Halaman])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PAGESEC] CHECK CONSTRAINT [FK_PAGESEC_PAGE]
GO
ALTER TABLE [dbo].[PAGESEC]  WITH CHECK ADD  CONSTRAINT [FK_PAGESEC_SECLEVEL] FOREIGN KEY([Kode])
REFERENCES [dbo].[SECLEVEL] ([Kode])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PAGESEC] CHECK CONSTRAINT [FK_PAGESEC_SECLEVEL]
GO
ALTER TABLE [dbo].[PLUGINDENY]  WITH CHECK ADD  CONSTRAINT [FK_PLUGINDENY_PLUGIN] FOREIGN KEY([Halaman])
REFERENCES [dbo].[PLUGIN] ([Halaman])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PLUGINDENY] CHECK CONSTRAINT [FK_PLUGINDENY_PLUGIN]
GO
ALTER TABLE [dbo].[PLUGINDENY]  WITH CHECK ADD  CONSTRAINT [FK_PLUGINDENY_USERNAME] FOREIGN KEY([UserID])
REFERENCES [dbo].[USERNAME] ([UserID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PLUGINDENY] CHECK CONSTRAINT [FK_PLUGINDENY_USERNAME]
GO
ALTER TABLE [dbo].[PLUGINSEC]  WITH CHECK ADD  CONSTRAINT [FK_PLUGINSEC_PLUGIN] FOREIGN KEY([Halaman])
REFERENCES [dbo].[PLUGIN] ([Halaman])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PLUGINSEC] CHECK CONSTRAINT [FK_PLUGINSEC_PLUGIN]
GO
ALTER TABLE [dbo].[PLUGINSEC]  WITH CHECK ADD  CONSTRAINT [FK_PLUGINSEC_SECLEVEL] FOREIGN KEY([Kode])
REFERENCES [dbo].[SECLEVEL] ([Kode])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PLUGINSEC] CHECK CONSTRAINT [FK_PLUGINSEC_SECLEVEL]
GO
ALTER TABLE [dbo].[PROJECTSEC]  WITH CHECK ADD  CONSTRAINT [FK_PROJECTSEC_REF_PROJECT] FOREIGN KEY([Project])
REFERENCES [dbo].[REF_PROJECT] ([Project])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PROJECTSEC] CHECK CONSTRAINT [FK_PROJECTSEC_REF_PROJECT]
GO
ALTER TABLE [dbo].[PROJECTSEC]  WITH CHECK ADD  CONSTRAINT [FK_PROJECTSEC_USERNAME] FOREIGN KEY([UserID])
REFERENCES [dbo].[USERNAME] ([UserID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PROJECTSEC] CHECK CONSTRAINT [FK_PROJECTSEC_USERNAME]
GO
ALTER TABLE [dbo].[PTSEC]  WITH CHECK ADD  CONSTRAINT [FK_PTSEC_REF_PERS] FOREIGN KEY([Pers])
REFERENCES [dbo].[REF_PERS] ([Pers])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PTSEC] CHECK CONSTRAINT [FK_PTSEC_REF_PERS]
GO
ALTER TABLE [dbo].[PTSEC]  WITH CHECK ADD  CONSTRAINT [FK_PTSEC_USERNAME] FOREIGN KEY([UserID])
REFERENCES [dbo].[USERNAME] ([UserID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PTSEC] CHECK CONSTRAINT [FK_PTSEC_USERNAME]
GO
ALTER TABLE [dbo].[REF_APPROVAL]  WITH CHECK ADD  CONSTRAINT [FK_REF_APPROVAL_USERNAME] FOREIGN KEY([UserID])
REFERENCES [dbo].[USERNAME] ([UserID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[REF_APPROVAL] CHECK CONSTRAINT [FK_REF_APPROVAL_USERNAME]
GO
ALTER TABLE [dbo].[REF_PROJECT]  WITH CHECK ADD  CONSTRAINT [FK_REF_PROJECT_REF_PERS] FOREIGN KEY([Pers])
REFERENCES [dbo].[REF_PERS] ([Pers])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[REF_PROJECT] CHECK CONSTRAINT [FK_REF_PROJECT_REF_PERS]
GO
ALTER TABLE [dbo].[SmsFormat]  WITH CHECK ADD  CONSTRAINT [FK_SmsFormat_Ref_Project] FOREIGN KEY([Project])
REFERENCES [dbo].[REF_PROJECT] ([Project])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SmsFormat] CHECK CONSTRAINT [FK_SmsFormat_Ref_Project]
GO
ALTER TABLE [dbo].[SmsSatuTitik]  WITH CHECK ADD  CONSTRAINT [FK_SmsSatuTitik_REF_PROJECT] FOREIGN KEY([Project])
REFERENCES [dbo].[REF_PROJECT] ([Project])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SmsSatuTitik] CHECK CONSTRAINT [FK_SmsSatuTitik_REF_PROJECT]
GO
ALTER TABLE [dbo].[USERNAME]  WITH CHECK ADD  CONSTRAINT [FK_USERNAME_SECLEVEL] FOREIGN KEY([SecLevel])
REFERENCES [dbo].[SECLEVEL] ([Kode])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USERNAME] CHECK CONSTRAINT [FK_USERNAME_SECLEVEL]
GO
/****** Object:  StoredProcedure [dbo].[InsertNumerator]    Script Date: 05/04/2019 15.52.35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertNumerator]
	@Kode varchar(20),
	@Modul varchar(50),
	@Nama varchar(50),
	@Prefix varchar(50),
	@ResetNum tinyint,
	@DigitNum tinyint,
	@FormatBulan tinyint,
	@FormatTahun tinyint,
	@Pemisah varchar(2),
	@Komposisi varchar(max)
AS

DECLARE @SN smallint
SELECT @SN = ISNULL(MAX(SN),0)+1 FROM Numerator

INSERT INTO Numerator
(
	Kode,
	Modul,
	Nama,
	Prefix,
	ResetNum,
	DigitNum,
	FormatBulan,
	FormatTahun,
	Pemisah,
	Komposisi,
	SN
)
VALUES
(
	@Kode,
	@Modul,
	@Nama,
	@Prefix,
	@ResetNum,
	@DigitNum,
	@FormatBulan,
	@FormatTahun,
	@Pemisah,
	@Komposisi,
	@SN
)






GO
/****** Object:  StoredProcedure [dbo].[InsertProblem]    Script Date: 05/04/2019 15.52.35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertProblem]
	@Url varchar(100),
	@Ket varchar(max) = ''
AS

DECLARE @ID int
SELECT  @ID = COUNT(*) + 1 FROM PROBLEM

INSERT INTO PROBLEM
(
	ProblemID,
	Url,
	Ket
)
VALUES
(
	@ID,
	@Url,
	@Ket
)





GO
/****** Object:  StoredProcedure [dbo].[spAppDoubleLogin]    Script Date: 05/04/2019 15.52.35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Double login dikategorikan sebagai aktivitas yang tidak baik.
Contoh :  User WS login pada komputer di lt. 8, padahal dia belum sign-out dari laptop di lt.7.
*/

CREATE PROCEDURE [dbo].[spAppDoubleLogin]
	 @UserID varchar (20)
	,@IP varchar (50)
AS

-- Log
EXEC spLogSecurity 'DL', @UserID, @IP








GO
/****** Object:  StoredProcedure [dbo].[spAppKick]    Script Date: 05/04/2019 15.52.35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Prosedur kick username
*/

CREATE PROCEDURE [dbo].[spAppKick]
	@LogID int
AS

UPDATE LOGIN
SET Status = 'C'
WHERE
	LogID = @LogID








GO
/****** Object:  StoredProcedure [dbo].[spAppLogin]    Script Date: 05/04/2019 15.52.35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
User melakukan log-in normal ke gateway application.
Login adalah proses untuk masuk ke dalam program.
*/

CREATE PROCEDURE [dbo].[spAppLogin]
	 @UserID varchar (20)
	,@IP varchar (50)
	,@SessionID  varchar (50)
AS

-- Catat tanggal login terakhir
UPDATE USERNAME SET
	TglLogin = GETDATE(), PassError = 0
WHERE
	UserID = @UserID

DECLARE @Nama varchar (50)
DECLARE @SecLevel varchar (10)

SELECT @Nama = Nama, @SecLevel = SecLevel FROM USERNAME
WHERE UserID = @UserID

-- Catat kejadian login normal
INSERT INTO LOGIN
(
	 UserID
	,SessionID
	,IP
	,Nama
	,SecLevel
)
VALUES
(
	 @UserID
	,@SessionID
	,@IP
	,@Nama
	,@SecLevel
)

-- Log
EXEC spLogSecurity 'L' ,@UserID ,@IP








GO
/****** Object:  StoredProcedure [dbo].[spApprovalDaftar]    Script Date: 05/04/2019 15.52.35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
Pendaftaran approval
*/

CREATE PROCEDURE [dbo].[spApprovalDaftar]
	 @UserID varchar (20)
	,@Lvl tinyint
	,@Tipe tinyint
	,@Project varchar(20)
AS

INSERT INTO REF_APPROVAL
(
	 UserID
	,Lvl
	,Tipe
	,Project	
)
VALUES
(
	 @UserID
	,@Lvl
	,@Tipe
	,@Project
)










GO
/****** Object:  StoredProcedure [dbo].[spAppSignOut]    Script Date: 05/04/2019 15.52.35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
User melakukan sign-out normal dari gateway application.
Signout adalah proses untuk keluar dari program.
*/

CREATE PROCEDURE [dbo].[spAppSignOut]
	 @UserID varchar (20)
	,@IP varchar (50)
AS

-- Tutup Absensi Masih Aktif
UPDATE LOGIN SET
	Status = 'C', TglLogout = GETDATE()
WHERE
	Status = 'A' AND UserID = @UserID

-- Log
EXEC spLogSecurity 'S', @UserID, @IP








GO
/****** Object:  StoredProcedure [dbo].[spAutoRotasiPass]    Script Date: 05/04/2019 15.52.35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Job : AM117_DAILY
Memaksa user yang sudah lama tidak pernah merubah passwordnya untuk
mengganti passwordnya pada saat Log-In berikutnya.

SIMULASI TANGGAL
Tgl GetDate	TglPass + 3 bulan
----------------------------------------------------------------------------------------------
1/1			4/1
2/1			4/1
3/1			4/1
4/1			4/1	Edit !
5/1			4/1	Edit !
*/

CREATE PROCEDURE [dbo].[spAutoRotasiPass]
AS

UPDATE USERNAME
SET
	GantiPass = 1
WHERE
	--User yang passwordnya tidak perlu dirubah
	RotasiPass <> 0
AND
	CONVERT(varchar, GETDATE(), 112) >= 
	CONVERT(varchar, DATEADD(m, RotasiPass, TglPass), 112)








GO
/****** Object:  StoredProcedure [dbo].[spAutoTutupAbsensi]    Script Date: 05/04/2019 15.52.35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Job : AM068_SHUTDOWN
Menutup daftar absensi yang masih ÃƒÂ¢Ã¢â€šÂ¬Ã…â€œgantungÃƒÂ¢Ã¢â€šÂ¬Ã‚Â pada saat server shut-down atau restart.
*/

CREATE PROCEDURE [dbo].[spAutoTutupAbsensi]
AS

UPDATE LOGIN
SET
	Status = 'C'
WHERE
	Status = 'A'








GO
/****** Object:  StoredProcedure [dbo].[spGantiPass]    Script Date: 05/04/2019 15.52.35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Prosedur ganti password pribadi / set password baru
*/

CREATE PROCEDURE [dbo].[spGantiPass]
	 @UserID varchar (20)
	,@Pass varchar (32)
	,@GantiPass bit
AS

UPDATE USERNAME SET
	TglPass = GETDATE(), GantiPass = @GantiPass, Pass = @Pass
WHERE
	UserID = @UserID








GO
/****** Object:  StoredProcedure [dbo].[spHtmlEditor]    Script Date: 05/04/2019 15.52.35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Pendaftaran security level baru
*/

CREATE PROCEDURE [dbo].[spHtmlEditor]
	 @Halaman varchar(50)
	,@Modul varchar(20)
	,@Html varchar(max)
AS

INSERT INTO HTMLEDITOR
(
	 Halaman
	,Modul
	,Html
)
VALUES
(
	 @Halaman
	,@Modul
	,@Html
)






GO
/****** Object:  StoredProcedure [dbo].[spHtmlEditorParameter]    Script Date: 05/04/2019 15.52.35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Pendaftaran security level baru
*/

CREATE PROCEDURE [dbo].[spHtmlEditorParameter]
	 @Halaman varchar(50)
	,@Parameter varchar(50)
	,@Kolom varchar(50)
	,@Looping bit
	,@Keterangan varchar(200)
	,@TipeData tinyint
AS

INSERT INTO HtmlEditorParameter
(
	 Halaman
	,Parameter
	,Kolom
	,Looping
	,Keterangan
	,TipeData
)
VALUES
(
	 @Halaman
	,@Parameter
	,@Kolom
	,@Looping
	,@Keterangan
	,@TipeData
)






GO
/****** Object:  StoredProcedure [dbo].[spLapPDFDaftar]    Script Date: 05/04/2019 15.52.35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*
Pendaftaran customer baru
*/

CREATE PROCEDURE [dbo].[spLapPDFDaftar]
	--@AttachmentID varchar(100) = ''
	 @Nama varchar (100) = ''
	,@Link varchar(MAX) = ''
	,@TglGenerate datetime
	,@IP varchar (50) = ''
	,@UserID varchar (20) = ''
	,@FileName varchar (100) = ''
	,@FileType varchar (100) = ''
	--,@FileSize decimal(18, 2) = ''
	,@FilterDari datetime
	,@FilterSampai datetime
AS

--DECLARE @AttachmentID int
--SELECT @AttachmentID = ISNULL(MAX(AttachmentID),0) + 1 FROM LapPDF

INSERT INTO LapPDF
(
	--AttachmentID
	Nama
	,Link
	,TglGenerate
	,IP
	,UserID
	,FileName
	,FileType
	--,FileSize
	,FilterDari
	,FilterSampai
)
VALUES
(
	--@AttachmentID
	@Nama
	,@Link
	,@TglGenerate
	,@IP
	,@UserID
	,@FileName
	,@FileType
	--,@FileSize
	,@FilterDari
	,@FilterSampai
)









GO
/****** Object:  StoredProcedure [dbo].[spLogEmail]    Script Date: 05/04/2019 15.52.35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
Logfile Username
*/

CREATE PROCEDURE [dbo].[spLogEmail]
	 @Aktivitas varchar (3)
	,@UserID varchar (20)
	,@IP varchar (50)
	,@Ket text
	,@Pk varchar (50)
AS

INSERT INTO REF_EMAIL_LOG
(
	 Aktivitas
	,UserID
	,IP
	,Ket
	,Pk
)
VALUES
(
	 @Aktivitas
	,@UserID
	,@IP
	,@Ket
	,@Pk
)









GO
/****** Object:  StoredProcedure [dbo].[spLogHtmlEditor]    Script Date: 05/04/2019 15.52.35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Logfile Security Level
*/

CREATE PROCEDURE [dbo].[spLogHtmlEditor]
	 @Aktivitas varchar (6)
	,@UserID varchar (20)
	,@IP varchar (50)
	,@Ket text
	,@Pk varchar (50)
AS

INSERT INTO HtmlEditor_LOG
(
	 Aktivitas
	,UserID
	,IP
	,Ket
	,Pk
)
VALUES
(
	 @Aktivitas
	,@UserID
	,@IP
	,@Ket
	,@Pk
)








GO
/****** Object:  StoredProcedure [dbo].[spLogRefData]    Script Date: 05/04/2019 15.52.35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Logfile Security Level
*/

CREATE PROCEDURE [dbo].[spLogRefData]
	 @Aktivitas varchar (6)
	,@UserID varchar (20)
	,@IP varchar (50)
	,@Ket text
	,@Pk varchar (50)
AS

INSERT INTO REF_DATA_LOG
(
	 Aktivitas
	,UserID
	,IP
	,Ket
	,Pk
)
VALUES
(
	 @Aktivitas
	,@UserID
	,@IP
	,@Ket
	,@Pk
)








GO
/****** Object:  StoredProcedure [dbo].[spLogRefSign]    Script Date: 05/04/2019 15.52.35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Logfile Tanda Tangan
*/

CREATE PROCEDURE [dbo].[spLogRefSign]
	 @Aktivitas varchar (6)
	,@UserID varchar (20)
	,@IP varchar (50)
	,@Ket text
	,@Pk varchar (50)
AS

INSERT INTO REF_SIGN_LOG
(
	 Aktivitas
	,UserID
	,IP
	,Ket
	,Pk
)
VALUES
(
	 @Aktivitas
	,@UserID
	,@IP
	,@Ket
	,@Pk
)








GO
/****** Object:  StoredProcedure [dbo].[spLogSeclevel]    Script Date: 05/04/2019 15.52.35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Logfile Security Level
*/

CREATE PROCEDURE [dbo].[spLogSeclevel]
	 @Aktivitas varchar (6)
	,@UserID varchar (20)
	,@IP varchar (50)
	,@Ket text
	,@Pk varchar (50)
AS

INSERT INTO SECLEVEL_LOG
(
	 Aktivitas
	,UserID
	,IP
	,Ket
	,Pk
)
VALUES
(
	 @Aktivitas
	,@UserID
	,@IP
	,@Ket
	,@Pk
)








GO
/****** Object:  StoredProcedure [dbo].[spLogSecurity]    Script Date: 05/04/2019 15.52.35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Logfile Security
*/

CREATE PROCEDURE [dbo].[spLogSecurity]
	 @Aktivitas varchar (2)
	,@UserID varchar (20)
	,@IP varchar (50)
AS

DECLARE @Nama varchar (50)
DECLARE @SecLevel varchar (10)

SELECT @Nama = Nama, @SecLevel = SecLevel FROM USERNAME
WHERE UserID = @UserID

INSERT INTO SECURITY_LOG
(
	 Aktivitas
	,UserID
	,IP
	,Nama
	,SecLevel
)
VALUES
(
	 @Aktivitas
	,@UserID
	,@IP
	,@Nama
	,@SecLevel
)








GO
/****** Object:  StoredProcedure [dbo].[spLogSmsFormat]    Script Date: 05/04/2019 15.52.35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spLogSmsFormat]
	 @Aktivitas varchar (3)
	,@UserID varchar (20)
	,@IP varchar (50)
	,@Ket text
	,@Pk varchar (50)
AS

INSERT INTO SmsFormat_LOG
(
	 Aktivitas
	,UserID
	,IP
	,Ket
	,Pk
)
VALUES
(
	 @Aktivitas
	,@UserID
	,@IP
	,@Ket
	,@Pk
)









GO
/****** Object:  StoredProcedure [dbo].[spLogSmsSatuTitik]    Script Date: 05/04/2019 15.52.35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
Logfile Username
*/

CREATE PROCEDURE [dbo].[spLogSmsSatuTitik]
	 @Aktivitas varchar (3)
	,@UserID varchar (20)
	,@IP varchar (50)
	,@Ket text
	,@Pk varchar (50)
AS

INSERT INTO SmsSatuTitik_LOG
(
	 Aktivitas
	,UserID
	,IP
	,Ket
	,Pk
)
VALUES
(
	 @Aktivitas
	,@UserID
	,@IP
	,@Ket
	,@Pk
)









GO
/****** Object:  StoredProcedure [dbo].[spLogUsername]    Script Date: 05/04/2019 15.52.35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Logfile Username
*/

CREATE PROCEDURE [dbo].[spLogUsername]
	 @Aktivitas varchar (3)
	,@UserID varchar (20)
	,@IP varchar (50)
	,@Ket text
	,@Pk varchar (50)
AS

INSERT INTO USERNAME_LOG
(
	 Aktivitas
	,UserID
	,IP
	,Ket
	,Pk
)
VALUES
(
	 @Aktivitas
	,@UserID
	,@IP
	,@Ket
	,@Pk
)








GO
/****** Object:  StoredProcedure [dbo].[spRecycle]    Script Date: 05/04/2019 15.52.35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Validasi session expire
*/

CREATE PROCEDURE [dbo].[spRecycle]
AS

UPDATE LOGIN SET
	Status = 'C'
WHERE
	Status = 'A'
	AND GETDATE() > TglExpire








GO
/****** Object:  StoredProcedure [dbo].[spRefAdminLaunching]    Script Date: 05/04/2019 15.52.35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[spRefAdminLaunching]
	@Nama varchar(50),
	@UserID varchar(20),
	@Nomor int
AS

INSERT INTO REF_ADMIN_LAUNCHING
(
	Nama,
	UserID,
	Nomor
)
VALUES
(
	 @Nama
	,@UserID
	,@Nomor
)








GO
/****** Object:  StoredProcedure [dbo].[spRefSIgnEdit]    Script Date: 05/04/2019 15.52.35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Edit Tanda Tangan
*/

CREATE PROCEDURE [dbo].[spRefSIgnEdit]
	 @Dokumen varchar (100)
	,@NoUrut int
	,@Nama varchar (100)
	,@Jabatan varchar (100)
AS

UPDATE REF_SIGN SET
	 Nama = @Nama
	,Jabatan = @Jabatan
WHERE Dokumen = @Dokumen AND SN = @NoUrut








GO
/****** Object:  StoredProcedure [dbo].[spSalahPass]    Script Date: 05/04/2019 15.52.35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Terjadi apabila user salah input password untuk username tertentu.
Jika 3x salah password berturut-turut, maka username di-blokir untuk mencegah pembobolan password.
*/

CREATE PROCEDURE [dbo].[spSalahPass]
	 @UserID varchar (20)
	,@IP varchar (50)
AS

-- Error counter
UPDATE USERNAME SET
	PassError = PassError + 1
WHERE
	UserID = @UserID

-- Log
EXEC spLogSecurity 'SP', @UserID, @IP








GO
/****** Object:  StoredProcedure [dbo].[spSecLevelDaftar]    Script Date: 05/04/2019 15.52.35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Pendaftaran security level baru
*/

CREATE PROCEDURE [dbo].[spSecLevelDaftar]
	 @Kode varchar(10)
	,@Nama varchar(50)
	,@CopyConfig varchar(10) = ''
AS

INSERT INTO SECLEVEL
(
	 Kode
	,Nama
)
VALUES
(
	 @Kode
	,@Nama
)

IF @CopyConfig <> ''
BEGIN
	INSERT INTO PAGESEC (Halaman,Kode)
	SELECT Halaman, @Kode FROM PAGESEC WHERE Kode = @CopyConfig
END

-- Free authorize
DELETE FROM PAGESEC WHERE Kode = @Kode AND Halaman IN
(SELECT Halaman FROM PAGE WHERE FreeAkses = 1)

INSERT INTO PAGESEC(Halaman,Kode)
SELECT Halaman, @Kode FROM PAGE WHERE FreeAkses = 1








GO
/****** Object:  StoredProcedure [dbo].[spSecLevelDel]    Script Date: 05/04/2019 15.52.35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Hapus security level PERMANEN
*/

CREATE PROCEDURE [dbo].[spSecLevelDel]
	@Kode varchar (10)
AS

-- Security level tidak boleh dihapus jika sudah memiliki username
IF EXISTS (SELECT UserID FROM USERNAME WHERE SecLevel = @Kode)
	RETURN
	
DELETE FROM SECLEVEL WHERE Kode = @Kode








GO
/****** Object:  StoredProcedure [dbo].[spSecLevelEdit]    Script Date: 05/04/2019 15.52.35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Edit security level
*/

CREATE PROCEDURE [dbo].[spSecLevelEdit]
	 @Kode varchar(10)
	,@KodeBaru varchar(10)
	,@Nama varchar(50)
AS

UPDATE SECLEVEL SET
	 Kode = @KodeBaru
	,Nama = @Nama
WHERE Kode = @Kode

-- normalisasi
UPDATE LOGIN SET SecLevel = @KodeBaru WHERE SecLevel = @Kode
UPDATE SECURITY_LOG SET SecLevel = @KodeBaru WHERE SecLevel = @Kode
UPDATE SECLEVEL_LOG SET Pk = @KodeBaru WHERE Pk = @Kode








GO
/****** Object:  StoredProcedure [dbo].[spSmsFormatDaftar]    Script Date: 05/04/2019 15.52.35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spSmsFormatDaftar]
	 @Project varchar (20)
	,@Tipe varchar (50)
	,@SatuanWaktu varchar (10)
	,@NilaiWaktu money
	,@Format varchar (MAX)
	,@Inaktif bit
AS

INSERT INTO SmsFormat
(
	 Project
	,Tipe
	,SatuanWaktu
	,NilaiWaktu
	,Format
	,Inaktif
)
VALUES
(
	 @Project
	,@Tipe
	,@SatuanWaktu
	,@NilaiWaktu
	,@Format
	,@Inaktif
)








GO
/****** Object:  StoredProcedure [dbo].[spSmsFormatEdit]    Script Date: 05/04/2019 15.52.35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spSmsFormatEdit]
	 @Tipe varchar (50)
	,@SatuanWaktu varchar (10)
	,@NilaiWaktu money
	,@Format varchar (MAX)
	,@Inaktif bit
AS

UPDATE SmsFormat SET
	 Tipe = @Tipe
	,SatuanWaktu = @SatuanWaktu
	,NilaiWaktu = @NilaiWaktu
	,Format = @Format
	,Inaktif = @Inaktif
WHERE Tipe = @Tipe








GO
/****** Object:  StoredProcedure [dbo].[spSmsSatuTitikDaftar]    Script Date: 05/04/2019 15.52.35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spSmsSatuTitikDaftar]
	 @Project varchar (20)
	,@Username varchar (50)
	,@Pass varchar (50)
	,@Masking varchar (50)
	,@Divisi varchar (50)
AS

INSERT INTO SmsSatuTitik
(
	 Project
	,Username
	,Pass
	,Masking
	,Divisi
)
VALUES
(
	 @Project
	,@Username
	,@Pass
	,@Masking
	,@Divisi
)








GO
/****** Object:  StoredProcedure [dbo].[spSmsSatuTitikEdit]    Script Date: 05/04/2019 15.52.35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spSmsSatuTitikEdit]
	 @Project varchar (20)
	,@Username varchar (50)
	,@Pass varchar (50)
	,@Masking varchar (50)
	,@Divisi varchar (50)
AS

UPDATE SmsSatuTitik SET
	 Username = @Username
	,Pass = @Pass
	,Masking = @Masking
	,Divisi = @Divisi
WHERE Project = @Project








GO
/****** Object:  StoredProcedure [dbo].[spUserAkses]    Script Date: 05/04/2019 15.52.35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Matrikulasi kode akses
*/

CREATE PROCEDURE [dbo].[spUserAkses]
	 @UserID varchar (20)
	,@SecLevel varchar (10)
AS

UPDATE USERNAME SET
	SecLevel = @SecLevel
WHERE
	UserID = @UserID








GO
/****** Object:  StoredProcedure [dbo].[spUserAktivasi]    Script Date: 05/04/2019 15.52.35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Username yang sebelumnya diblokir, diaktivasi kembali oleh administrator menggunakan interface khusus di dalam program.
User yang sudah diaktivasi lagi bisa kembali masuk ke dalam program.
*/

CREATE PROCEDURE [dbo].[spUserAktivasi]
	 @UserID varchar (20)
	,@IP varchar (50)
AS

-- Aktivasi username
UPDATE USERNAME SET
	Status = 'A', TglBlokir = NULL
WHERE
	UserID = @UserID
	
-- Log
EXEC spLogSecurity 'A', @UserID, @IP








GO
/****** Object:  StoredProcedure [dbo].[spUserBlokir]    Script Date: 05/04/2019 15.52.35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Username diblokir karena sebab tertentu.
Status blokir bisa disebabkan karena terjadi salah input password 3x (Otomatis) atau karena keputusan administrator (Interface).
*/

CREATE PROCEDURE [dbo].[spUserBlokir]
	 @UserID varchar (20)
	,@IP varchar (50)
AS

-- Blokir username
UPDATE USERNAME SET
	Status = 'B', TglBlokir = GETDATE(), PassError = 0
WHERE
	UserID = @UserID

-- Log
EXEC spLogSecurity 'B', @UserID, @IP








GO
/****** Object:  StoredProcedure [dbo].[spUserDaftar]    Script Date: 05/04/2019 15.52.35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Pendaftaran username
*/

CREATE PROCEDURE [dbo].[spUserDaftar]
	 @UserID varchar (20)
	,@Pass varchar (32)
	,@Nama varchar (50)
	,@SecLevel varchar (10)
	,@GantiPass bit
	,@RotasiPass int
AS

INSERT INTO USERNAME
(
	 UserID
	,Pass
	,Nama
	,SecLevel
	,GantiPass
	,RotasiPass
)
VALUES
(
	 @UserID
	,@Pass
	,@Nama
	,@SecLevel
	,@GantiPass
	,@RotasiPass
)








GO
/****** Object:  StoredProcedure [dbo].[spUserDel]    Script Date: 05/04/2019 15.52.35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Hapus user PERMANEN
*/

CREATE PROCEDURE [dbo].[spUserDel]
	@UserID varchar (20)
AS

DELETE FROM USERNAME WHERE UserID = @UserID








GO
/****** Object:  StoredProcedure [dbo].[spUserEdit]    Script Date: 05/04/2019 15.52.35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Edit username
*/

CREATE PROCEDURE [dbo].[spUserEdit]
	 @UserID varchar (20)
	,@Nama varchar (50)
	,@SecLevel varchar (10)
	,@GantiPass bit
	,@RotasiPass int
AS

UPDATE USERNAME SET
	 Nama = @Nama
	,SecLevel = @SecLevel
	,GantiPass = @GantiPass
	,RotasiPass = @RotasiPass
WHERE UserID = @UserID








GO
/****** Object:  StoredProcedure [dbo].[spUserGantiKey]    Script Date: 05/04/2019 15.52.35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Prosedur ganti primary key
*/

CREATE PROCEDURE [dbo].[spUserGantiKey]
	 @Lama varchar(20)
	,@Baru varchar(20)
AS

UPDATE USERNAME SET
	UserID = @Baru
WHERE
	UserID = @Lama

-- Normalisasi primary key
UPDATE LOGIN SET UserID = @Baru WHERE UserID = @Lama
UPDATE SECURITY_LOG SET UserID = @Baru WHERE UserID = @Lama
UPDATE USERNAME_LOG SET Pk = @Baru WHERE Pk = @Lama








GO
/****** Object:  StoredProcedure [dbo].[spUserPers]    Script Date: 05/04/2019 15.52.35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
Matrikulasi kode akses
*/

CREATE PROCEDURE [dbo].[spUserPers]
	 @Pers varchar (20)
	,@UserID varchar (20)
	,@Granted bit
	,@NamaPers varchar(50)
AS

INSERT INTO PTSEC 
(
	PERS,
	UserID,
	Granted,
	NamaPers
)
VALUES
(
	@Pers,
	@UserID,
	@Granted,
	@NamaPers
)






GO
/****** Object:  StoredProcedure [dbo].[spUserProject]    Script Date: 05/04/2019 15.52.35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
Matrikulasi kode akses
*/

CREATE PROCEDURE [dbo].[spUserProject]
	 @Project varchar (20)
	,@UserID varchar (20)
	,@Granted bit
	,@NamaProject varchar(50)
AS

INSERT INTO PROJECTSEC 
(
	Project,
	UserID,
	Granted,
	NamaProject
)
VALUES
(
	@Project,
	@UserID,
	@Granted,
	@NamaProject
)






GO
USE [master]
GO
